/* ==========================================================================
    Reset 
   ========================================================================== */

@import "../../../node_modules/normalize.css/normalize.css";

/* ==========================================================================
    Font-Face 
   ========================================================================== */

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu-Regular.woff2') format('woff2'),
        url('../font/Apercu-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* ==========================================================================
    Base  
   ========================================================================== */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

::selection {
  background: black;
  color: white;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    font-family: Apercu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-size: 1rem;
    color: #000;
    max-width: 1440px;
    min-width: 640px;
    margin: 0 auto;
    opacity: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0 0 0.75em 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ==========================================================================
    Functions  
   ========================================================================== */

%button {
    display: inline-block;
    background: #3EC28F;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 1em 0;
    line-height: 1;
    min-width: 230px;
    margin: 0.25em;
    position: relative;
    z-index: 1;
    user-select: none;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        top: 0.5rem;
        left: 0;
        filter: blur(0.5rem);
        transform: scale(0.7);
        transform-origin: center top;
        opacity: 0;
        z-index: -1;
        transition: opacity .2s, transform .2s;
    }

    &:hover:after {
        opacity: .5;
        transform: scale(0.9);
    }
}

%link {
    position: relative;

    &:before {
        content:"";
        position: absolute;
        bottom: -0.25em;
        width: 100%;
        height: 1px;
        background: #000;
        transform: scaleX(0);
    }

    &:hover:before {
        transform: scaleX(1);
        animation: navLink 1s ease forwards;
    }
} 

/* ==========================================================================
    Header  
   ========================================================================== */

header {
    width: 100%;
    height: 90px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3em;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
}

nav a {
    margin-left: 2.5em;
    font-size: 14px;
    @extend %link;

    &:first-child {
        margin-left: 0;
    }

    &.is-disabled:hover {
        color: rgba(0,0,0,0.3);
        transition: color .75s;
    }

    &.is-disabled::after {
        content:"Coming Soon";
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 12px;
        opacity: 0;
        transition: transform .3s, opacity .3s;
        color:#000;
    }

    &.is-disabled:hover::after {
        transform: translateY(24px);
        opacity: 1;
    }
}

@keyframes navLink {
    0% {
        transform: scaleX(0);
        transform-origin: left center;
    }

    25% {
        transform: scaleX(1);
        transform-origin: left center;
    }

    50% {
        transform: scaleX(1);
        transform-origin: right center;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right center;
    }
}

/* ==========================================================================
    Content  
   ========================================================================== */

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 0;
}

.l-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2em;
    position: relative;
    z-index: 10;
}

.c-logos {
    display: flex;
    align-items: center;
    margin-bottom: 3em;

    span {
        margin: 0 3em;
    }
}

.c-intro {
    h1 {
        font-size: 30px;
    }

    p {
        margin-bottom: 3em;
    }
}

.c-actions {
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        @extend %button
    }

    a:last-child {
        background: #1ABCFE;
    }
}

@svg-load appleIcon url(../images/icn-apple.svg);
@svg-load windowsIcon url(../images/icn-windows.svg);
@svg-load chromeIcon url(../images/icn-chromeSmall.svg);

.c-actions a {
    position: relative;

    span {
        transition: transform .2s, opacity .2s;
        display: inline-block;
    }

    &:hover span {
        opacity: 0;
        transform: translateY(-10px);
    }

    &:before {
        position: absolute;
        width: 24px;
        height: 24px;
        content:"";
        background: #000;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity .2s, transform .2s;
    }

    &:hover::before {
        opacity: 1;
        transform: translateY(0px);
        transition: transform .2s, opacity .2s;
    }

    &.is-mac::before {
        background: svg-inline(appleIcon);
        background-size: contain;
    }

    &.is-windows::before {
        background: svg-inline(windowsIcon);
        background-size: contain;
    }

    &.is-chrome::before {
        background: svg-inline(chromeIcon);
        background-size: contain;
    }

    &.is-linux {
        display: none;
    }
}

.c-caption {
    margin-bottom: 1em;

    h4 {
        font-size: 14px;
        margin-bottom: 0.5em;
    }
    small {
        font-size: 13px;
        opacity: 0.5;
    }

    a {
        @extend %link
    }
}

.c-shot {
    max-width: 440px;
}

/* ==========================================================================
    Footer  
   ========================================================================== */

footer {
    margin-bottom: 1em;
}

@svg-load twitterIcon url(../images/icn-twitter.svg);
@svg-load githubIcon url(../images/icn-github.svg);
@svg-load chromeIcon url(../images/icn-chrome.svg);
@svg-load spectrumIcon url(../images/icn-spectrum.svg);


.c-socials {
    list-style-type: none;
    display: flex;
    padding: 0;

    a {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 1.5em;
        &:hover {
            animation: socialIcon 0.85s ease normal forwards;
        }
    }

    &_twitter {
        background: svg-inline(twitterIcon);
    }

    &_github {
        background: svg-inline(githubIcon);
    }

    &_chrome {
        background: svg-inline(chromeIcon);
    }

    &_spectrum {
        background: svg-inline(spectrumIcon);
    }
}

@keyframes socialIcon {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(0.8);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

/* ==========================================================================
    Team  
   ========================================================================== */

   .team {
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background: #111;
       z-index: 9999;
       display: flex;
       align-items: center;
       clip-path: circle(0% at 50% 50%);
       transition: 1s clip-path;
       will-change: clip-path;
       color: #fff;
       
       &.is-open {
           clip-path: circle(100% at 50% 50%);
       }

       &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 32px;
       }

       &-member {
           display: flex;
           flex-direction: column;
           align-items: center;
       }

       &-icon {
           max-width: 96px;
            max-height: 96px;
           overflow: hidden;
           border-radius: 50%;
           margin-bottom: 2em;
       }

       h2 {
           margin-bottom: 2em;
       }

       h3 {
           margin-bottom: 0.15em;
       }

       p {
           margin-bottom: 1.5em;
           font-size: 14px;
           opacity: .4;
       }

       ul {
           font-size: 14px;
           list-style-type: none;
           display: flex;
           padding: 0;
           margin: 0;
       }

       li {
           padding: 8px;
       }

       a {
           @extend %link;
           &:before {
               background: #fff;
           }
       }
   }